@{
  Layout = "_Layout";
}

@model ToDoList.Models.Flavor

<h4>Add a new task</h4>

@using (Html.BeginForm())
{
   
    @Html.LabelFor(model => model.Description)  // Display's the property name
    @Html.TextBoxFor(model => model.Description) // Creates input field 

    @Html.LabelFor(model => model.Treat)
    @Html.DropDownList("TreatId")

    <input type="submit" value="Add new flavor" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all flavors", "Index")</p>



