@{
  Layout = "_Layout";
}

@model TreatsList.Models.Flavor

<h4>Add a New Task</h4>

@using (Html.BeginForm())
{
   
    @Html.LabelFor(model => model.Description)  
    @Html.TextBoxFor(model => model.Description) 

    @Html.LabelFor(model => model.Treat)
    @Html.DropDownList("TreatId")

    <input type="submit" value="Add New Flavor" class="btn btn-default" />
}
<p>@Html.ActionLink("Show All Flavors", "Index")</p>



