@{
  Layout = "_Layout";
}

@using TreatsList.Models;
@model List<TreatsList.Models.Flavor>;

<h1>Flavors</h1>

@if (@Model.Count == 0)
{
  <h3>No Flavors Have Been Added Yet!</h3>
}

@foreach (Flavor flavor in @Model)
{
  <li>@Html.ActionLink($"{flavor.Description}", "Details", new { id = flavor.FlavorId }) | @flavor.Treat.Name</li>
}

<p>@Html.ActionLink("Add New Flavor", "Create")</p>
<p>@Html.ActionLink("Add New Treat", "Create", "Treats")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>


